.ScrollIndicator {
  width: 174px;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.03em;
  transform: rotate(90deg);
  font-family: ltc-nicholas-cochin-pro, sans-serif;

  &::after {
    content: "";
    position: relative;
    left: 0;
    display: inline-block;
    margin-left: 8px;
    width: 0px;
    height: 0.5px;
    background-color: #fff;

    // 単純繰り返しがあるのでkeyframeアニメーションを使う
    animation-name: scrollIndicatorAnimation;
    animation-duration: 2.1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
}

@keyframes scrollIndicatorAnimation {
  0% {
    width: 0;
    opacity: 1;
  }

  50% {
    left: 0;
    width: 120px;
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    left: 120px;
    width: 0;
    opacity: 0;
  }
}
