@use "../../../styles/mixin" as m;

.TastePhilosophy {
  padding: 30vh 320px 50vh;
  color: var(--color-dark);
  display: flex;
  gap: 200px;

  @include m.respondToMd {
    padding: 200px 28px;
    gap: initial;
  }

  @include m.respondToOverXlg {
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    width: 1100px;
  }

  .TastePhilosophy__left {
    flex-shrink: 0;
    width: fit-content;
  }

  .TastePhilosophy__sticky {
    position: sticky;
    top: 200px;
    z-index: 999;

    @include m.respondToMd {
      top: 60px;
      margin-left: 16px;
    }
  }

  .TastePhilosophy__right {
    position: relative;
    z-index: 999;
    align-self: start;
    width: 380px;

    @include m.respondToMd {
      margin-left: -52px;
      width: 56vw;
    }
  }

  .TastePhilosophy__bodyWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 100vh 0;
    max-width: 380px;

    @include m.respondToMd {
      display: none;
    }
  }

  .TastePhilosophy__bodyWrapperSp {
    display: none;
    @include m.respondToMd {
      display: flex;
      flex-direction: column;
      gap: 24px;
      padding: 100vh 0;
      max-width: 380px;
    }
  }

  .TastePhilosophy__body {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.04em;
    white-space: pre-wrap;

    @include m.respondToMd {
      font-size: 13px;
    }
  }
}
