@use "../../../styles/mixin" as m;

.TasteAnotherPageLink {
  position: relative;
  margin-top: 40vh;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  z-index: 10;
  background-color: var(--color-taste-background);

  @include m.respondToMd {
    margin: initial;
    padding: 20vh 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
  }

  .TasteAnotherPageLink__title {
    display: none;

    @include m.respondToMd {
      position: absolute;
      display: block;
      top: 44px;
      left: 44px;
      color: var(--color-dark);
    }
  }

  .TasteAnotherPageLink__body {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1010 / 673;
    width: calc(100vw * 1010px / 1440px);

    @include m.respondToMd {
      margin: auto;
      width: 100%;
    }
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    max-width: 1010px;
    width: 100%;

    @include m.respondToMd {
      height: auto;
    }
  }

  .TasteAnotherPageLink__text {
    position: relative;
    padding-left: 20px;
    width: fit-content;
    font-size: 32px;
    letter-spacing: 0.04em;
    z-index: 2;

    @include m.respondToMd {
      margin-top: 36px;
      font-size: 18px;
    }
  }

  .TasteAnotherPageLink__imitationButton {
    position: relative;
    margin-top: 28px;
    padding: 12px 40px 16px;
    display: flex;
    align-items: baseline;
    gap: 20px;
    z-index: 2;
    border: 1px solid var(--color-white);
    border-radius: 40px;

    @include m.respondToMd {
      margin-top: initial;
      gap: 12px;
      border: none;
    }
  }

  .TasteAnotherPageLink__buttonText {
    display: block;
    font-size: 18px;

    @include m.respondToMd {
      font-size: 14px;
    }
  }

  .TasteAnotherPageLink__buttonArrow {
    position: relative;
    display: block;
    width: 80px;
    height: 1px;
    background-color: var(--color-white);
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.83, 0, 0.17, 1);

    @include m.respondToMd {
      width: 56px;
    }

    &::after {
      content: "";
      position: absolute;
      top: -5px;
      right: -2px;
      display: block;
      width: 22px;
      height: 1px;
      background-color: var(--color-white);
      transform: rotate(30deg);
      transition-duration: 1s;
      transition-timing-function: cubic-bezier(0.83, 0, 0.17, 1);

      @include m.respondToMd {
        width: 16px;
        top: -4px;
        right: -1px;
      }
    }
  }

  .TasteAnotherPageLink__copyright {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 44px;
    font-size: 10px;
    text-align: center;
    color: var(--color-dark);

    @include m.respondToMd {
      bottom: 24px;
    }
  }
}
