// デバイスブレイクポイントの設定
$breakpoint-sm: 576px; // スマートフォン
$breakpoint-md: 767px; // タブレット
$breakpoint-lg: 992px; // 小さいデスクトップ
$breakpoint-llg: 1150px; // デスクトップ
$breakpoint-xlg: 1700px;

// レスポンシブスタイルのmixin
@mixin respondToSm {
  @media (max-width: $breakpoint-sm) {
    @content;
  }
}

@mixin respondToOverSm {
  @media (min-width: $breakpoint-sm) {
    @content;
  }
}

@mixin respondToMd {
  @media (max-width: $breakpoint-md) {
    @content;
  }
}

@mixin respondToOverMd {
  @media (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin respondToLg {
  @media (max-width: $breakpoint-lg) {
    @content;
  }
}

@mixin respondToLlg {
  @media (max-width: $breakpoint-llg) {
    @content;
  }
}

@mixin respondToOverXlg {
  @media (min-width: $breakpoint-xlg) {
    @content;
  }
}
