@use "../../../styles/mixin" as m;

.AnotherPageLink {
  padding: 100px;
  width: 100%;

  @include m.respondToSm {
    padding: 20px;
  }

  a {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1306 / 563;
    object-fit: cover;
    border-radius: 40px;
    background-image: url("/taste/anotherPage/1.png");
    background-position: center;
    background-size: cover;
    // アニメーション設定
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;

    @media (hover: hover) {
      &:hover {
        transform: scale(1.1);
        .AnotherPageLink__button {
          color: var(--color-black);
          // border: none;
          background-color: var(--color-white);

          .AnotherPageLink__linkArrow {
            border-top: 1px solid var(--color-black);

            &::after {
              border-top: 1px solid var(--color-black);
            }
          }
        }
      }
    }

    @include m.respondToSm {
      padding: 80px 0;
      border-radius: 12px;

      img {
        width: 100px;
      }
    }
  }

  span {
    display: block;
  }

  .AnotherPageLink__button {
    margin: 40px auto 0;
    padding: 20px 24px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 20px;
    width: 360px;
    font-size: 20px;
    color: var(--color-white);
    font-family: var(--font-family-text-en);
    border: 1px solid var(--color-white);
    border-radius: 40px;
    // アニメーション設定
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;

    @include m.respondToSm {
      margin-top: 20px;
      padding: 12px 24px;
      width: 300px;
      font-size: 17px;
    }
  }

  .AnotherPageLink__linkArrow {
    position: relative;
    display: block;
    width: 100px;
    height: 0px;
    border-top: 1px solid var(--color-white);
    // アニメーション設定
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;

    &::after {
      content: "";
      position: absolute;
      top: -5px;
      right: -3px;
      display: block;
      width: 12px;
      height: 0px;
      border-top: 1px solid var(--color-white);
      transform: rotate(45deg);

      // アニメーション設定
      transition-duration: 0.4s;
      transition-timing-function: ease-in-out;
    }

    @include m.respondToSm {
      width: 60px;
    }
  }
}
