@use "../../styles/mixin" as m;

.MenuButtonWithModal {
  position: relative;

  .MenuButtonWithModal__icon {
    color: var(--color-white);
    width: 82px;
    height: 42px;
    transition-duration: 2s;
    transition-property: color;

    @include m.respondToMd {
      width: 61px;
      height: 32px;
    }
  }

  &--opened {
    .MenuButtonWithModal__icon {
      color: var(--color-dark);
    }
  }
}

// 円アニメーションが終わった後
html[data-hero-latched] .MenuButtonWithModal {
  .MenuButtonWithModal__icon {
    color: var(--color-dark);
  }
}
