@use "../../../styles/mixin" as m;

.TasteAccess {
  position: relative;
  padding: 30vh 300px 50vh;
  margin-top: -1px;
  display: flex;
  align-items: flex-start;
  gap: 200px;
  z-index: 10;
  color: var(--color-dark);
  background-color: var(--color-taste-background);

  @include m.respondToMd {
    padding: 200px 28px 100vh;
    gap: initial;
  }

  @include m.respondToOverXlg {
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    width: 1100px;
  }

  .TasteAccess__heading {
    flex-shrink: 0;
    position: sticky;
    top: 200px;
    z-index: 1;
    width: fit-content;

    @include m.respondToMd {
      top: 60px;
      margin-left: 16px;
    }
  }

  .TasteAccess__contents {
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-top: 100vh;
    max-width: 380px;

    @include m.respondToMd {
      margin-left: -52px;
      width: 56vw;
    }
  }

  .TasteAccess__subHeader {
    font-family: var(--font-family-serif, cochin, serif);
    font-size: 24px;

    @include m.respondToMd {
      font-size: 20px;
    }
  }

  .TasteAccess__description {
    margin-top: 20px;
    padding-top: 36px;
    border-top: 1px solid var(--color-dark);
    font-family: var(--font-family-serif, cochin, serif);

    .TasteAccess__addressJa {
      font-size: 18px;

      @include m.respondToMd {
        font-size: 14px;

        &:last-of-type {
          padding-bottom: 200px;
        }
      }

      span + span {
        margin-top: 8px;
      }
    }

    .TasteAccess__addressEn {
      margin-top: 28px;
      color: #6c6c6c;

      @include m.respondToMd {
        font-size: 14px;
      }

      span + span {
        margin-top: 4px;
      }
    }

    span {
      display: block;
    }

    a {
      margin-top: 36px;
      display: flex;
      align-items: baseline;
      gap: 16px;
      font-size: 24px;
      color: var(--color-dark);

      @include m.respondToMd {
        font-size: 16px;
      }
    }

    .TasteAccess__buttonArrow {
      position: relative;
      display: block;
      width: 80px;
      height: 1px;
      background-color: var(--color-dark);
      transition-duration: 0.5s;
      transition-timing-function: cubic-bezier(0.83, 0, 0.17, 1);

      &:hover {
        transform: translate(12px);
        background-color: var(--color-gold);
      }

      &::after {
        content: "";
        position: absolute;
        top: -5px;
        right: -2px;
        display: block;
        width: 22px;
        height: 1px;
        background-color: var(--color-dark);
        transform: rotate(30deg);
        transition-duration: 1s;
        transition-timing-function: cubic-bezier(0.83, 0, 0.17, 1);

        &:hover {
          transform: rotate(390deg);
          background-color: var(--color-gold);
        }
      }
    }

    .TasteAccess__descriptionFlex,
    .TasteAccess__descriptionFlexInfo {
      display: flex;
      align-items: center;
      gap: 60px;
      font-size: 18px;
      text-align: left;

      @include m.respondToMd {
        font-size: 14px;
        gap: 36px;
      }
    }

    .TasteAccess__descriptionFlex + .TasteAccess__descriptionFlex {
      margin-top: 20px;
    }

    .TasteAccess__descriptionFlexInfo + .TasteAccess__descriptionFlexInfo {
      margin-top: 20px;

      @include m.respondToMd {
        margin-top: 28px;
      }
    }

    .TasteAccess__descriptionRubi {
      font-size: 12px;
      color: #6c6c6c;

      @include m.respondToMd {
        font-size: 11px;
      }
    }

    .TasteAccess__descriptionTexts {
      margin-top: 36px;
      font-size: 14px;

      @include m.respondToMd {
        font-size: 13px;
      }

      .TasteAccess__descriptionText {
        line-height: 1.8;
      }

      .TasteAccess__descriptionText + span {
        margin-top: 20px;
      }

      span {
        letter-spacing: 0.02em;
      }
    }

    .TasteAccess__descriptionFlexInfo {
      @include m.respondToMd {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 12px;
      }
    }

    .TasteAccess__InformationBox {
      min-width: 224px;

      @include m.respondToMd {
        min-width: initial;
      }
    }
  }

  .TasteAccess__information {
    @include m.respondToMd {
      padding-bottom: 260px;
    }
  }
}
